nav {
    background-color: #1d1b1b;

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            height: 50px;

            &:first-child {
                margin-right: auto;
            }

            a {
                height: 100%;
                padding: 0 30px;
                text-decoration: none;
                display: flex;
                align-items: center;
                color: white;
                &:hover {
                    background-color: #b80b0b;
                }
            }

            button {
                width: 100%;
                height: 100%;
                padding: 0 30px;
                background-color: rgba(0, 0, 0, 0);
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: #b80b0b;
                }
            }
        }

    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 99;
        background-color: rgba(29, 27, 27, 0.78);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(31, 31, 31, 0.733);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        li {
            width: 100%;

            a {
                width: 100%;
            }

            div{
                display: flex;
                img{
                    width: 120px;
                    height: 90px;
                }
            }
        }
    }
}

.mobileNav {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;


    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('../../../public/navBar/mobileNavbarBg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(10px);
        transform: scale(1.4);
        z-index: 0;
    }

    ul {
        text-transform: uppercase;
        font-size: xx-large;
        background: none;
        z-index: 1;

        li {
            background: none;

            a {
                background: none;
            }
        }
    }
}