@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
//  font-family: "Bebas Neue", sans-serif;

* {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: large;

    margin: 0;
    padding: 0;
    
    @media only screen and (max-width: 800px){
        font-size: x-large;
    }
}

body {
    min-height: 100vh;

    background-image: url('/gymBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    overflow-x: hidden;
}